@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  @apply bg-green-600 text-white px-6 py-3 rounded-xl w-full mt-4 hover:bg-green-700 transition;
}

.btn-secondary {
  @apply bg-gray-200 dark:bg-gray-700 px-6 py-3 rounded-xl hover:bg-gray-300 dark:hover:bg-gray-600 transition;
}
/* Chrome, Safari et Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE et anciens Edge */
body {
  -ms-overflow-style: none;
}